{% extends "layout.html" %} 
{%block messages%} 
{% if messages%}
{%for class,message in messages %}
{% if class == 'fail'%}
<div class="alert alert-danger" role="alert">{{message}}</div>
{%else%}
<div class="alert alert-success" role="alert">{{message}}</div>
{%endif%}

{% endfor %}
{%endif%}
{%endblock%}

{%block main%}
<main class="flex-grow-1">
    <div class="container-lg mt-3">
      <h1>Сайт: {{url['name']}}</h1>

    
  <div class="table-responsive">
    <table class="table table-bordered table-hover text-nowrap" data-test="url">
      <thead style="display: none;">
      <tr>
        <th abbr="Id"></th>
        <th abbr="Имя"></th>
        <th abbr="Дата создания"></th>
      </tr>
      </thead>
      <tbody>
        <tr>
          <td>ID</td>
          <td>{{url['id']}}</td>
        </tr>
        <tr>
          <td>Имя</td>
          <td>{{url['name']}}</td>
        </tr>
        <tr>
          <td>Дата создания</td>
          <td>{{url["created_at"]}}</td>
        </tr>
      </tbody>
    </table>
  </div>

    <h2 class="mt-5 mb-3">Проверки</h2>
    <form method="post" action="/urls/{{url['id']}}/checks">
    <input type="submit" class="btn btn-primary" value="Запустить проверку">
    </form>
    
  <div>
    <table class="table table-bordered table-hover mt-2" data-test="checks">
    <thead>
      <tr>
        <th>ID</th>
        <th>Код ответа</th>
        <th>h1</th>
        <th>title</th>
        <th>description</th>
        <th>Дата создания</th>
      </tr>
    </thead>
      <tbody>
    
    {% for row in url_checks %}
    <tr>
        <td>{{row['id']}}</td>
        <td>{{row['status_code']}}</td>
        <td>{{row['h1']}}</td>
        <td>{{row['title']}}</td>
        <td>{{row['description']}}</td>
        <td>{{row['created_at']}}</td>
    </tr>
    {% endfor %}
    </tbody>
    </table>
  </div>

    </div>
  </main>
{%endblock%}