name: my-check

on: push
jobs:
    build: 
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - name: set up Python
              uses: actions/setup-python@v5
            - name: install dependencies 
              run: |
                pip install uv
                make install
            - name: run lint
              run: |
                make lint
